<div class="container__home">
  <div class="container__violet">
    <div class="violet"></div>
    <div class="container__smartphone">
      <div class="wrap__smartphone">
        <!-- Smartphone -->
        <div class="smartphone">
          <!-- Header -->
          <div class="header__smartphone">
            <div class="border__smartphone">
            </div>
            <div class="container__header">
              <div class="container__items">
                <div class="arrow-left"><i class="fas fa-angle-left"></i></div>
                <div class="logo"></div>
                <div class="name">
                  <span style="color:white; font-size: 13px; font-weight: bold;">Samuel Green</span>
                  <div class="description__person">Available to Walk</div>
                </div>
                <div class="option"><i class="fas fa-ellipsis-v"></i></div>
              </div>
            </div>
          </div>
          <!-- Chat -->
          <div class="container__chat">
            <div style="width: 90%; margin: 10px auto; pointer-events: none;">
              <div class="chat">
                <span class="description__chat">
                  That sounds great. I'd be happy with that.
                </span>
              </div>
              <div class="chat">
                <span class="description__chat">
                  Could you send over some pictures of your dog. please?
                </span>
              </div>
              <div class="container__photo">
                <img class="photo" src="./../../assets/images/dog-image-1.jpg" alt="">
                <img class="photo" src="./../../assets/images/dog-image-2.jpg" alt="">
                <img class="photo" src="./../../assets/images/dog-image-3.jpg" alt="">
              </div>
              <div class="chat --right">
                <span class="description__chat --white">
                  Here are a fey pictures. She's a happy girl!
                </span>
              </div>
              <div class="chat --right">
                <span class="description__chat --white --width">
                  Can you make it?
                </span>
              </div>
              <div class="chat">
                <span class="description__chat">
                  Shes looks so happy! The time we discussed works. How long shall i take her out for?
                </span>
              </div>
              <!-- Check -->
              <div class="container__check">
                <div class="container__item">
                  <div class="check"></div>
                  <span class="description__check">30 minute walk</span>
                  <span class="money">$29</span>
                </div>
              </div>
              <div class="container__check">
                <div class="container__item">
                  <div class="check"></div>
                  <span class="description__check">1 Hour walk</span>
                  <span class="money">$49</span>
                </div>
              </div>
              <div class="container__input">
                <input type="text" placeholder="Type a message..." readonly>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Title -->
    <div class="container__label">
      <div class="wrap__label">
        <div class="container__title">
          <span class="title">Simple booking</span>
        </div>
        <div class="container__description">
          <span class="description">
            Stay in touch with our dog walkers through the chat interface. This makes it easy to discuss arrangements
            and make bookings. once the walk has been completed you can rate your walker and book again all through the
            chat.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Shaders bottom right -->
<div class="container__shadow">
  <div class="shadow"></div>
</div>
