// shadow
.container__shadow {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}

.shadow {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  width: 315px;
  height: 86vh;
  background: rgb(233, 233, 233);
  position: absolute;
  border-top-left-radius: 250px;
}

// Home
.container__home {
  display: flex;
  width: 100%;
  height: 100vh;
  // background-color: hsl(270, 20%, 96%);
}

.container__violet {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.violet {
  position: absolute;
  height: 88vh;
  width: 440px;
  background: #e942ff;
  background: linear-gradient(180deg, #e942ff 0%, #8838ff 87%);
  margin-left: -55px;
  border-bottom-left-radius: 167px;
  border-bottom-right-radius: 280px;
  z-index: 10;
}

// Title & Desdcription
.container__label {
  display: flex;
  height: 100vh;
  width: 100%;
}

.container__title {
  // position: absolute;
  z-index: 100;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.container__description {
  display: flex;
  margin-top: 15px;
  width: 420px;
  line-height: 1.7;
  z-index: 10;
  color: gray;
  font-size: 17px;
}

// Smartphone
.container__smartphone {
  display: flex;
  width: 100%;
  height: 650px;
}

.wrap__smartphone {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -20px;
}

.smartphone {
  display: flex;
  flex-direction: column;
  width: 238px;
  height: 490px;
  border-radius: 30px;
  margin-left: 323px;
  border: 11px solid white;
  z-index: 100;
  background: #e9e9e9;
  bottom: 0;
  position: absolute;
  box-shadow: 2px 2px 21px 6px rgb(0 0 0 / 20%);
}

.border__smartphone {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: flex-start;
  margin: -1px auto;
  width: 137px;
  background: white;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  z-index: 10;
}

.container__header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 100;
  position: absolute;
}

.container__items {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 26px auto 10px auto;
  justify-content: space-between;
}

.name {
  width: 144px;
}

.description__person {
  font-size: 9px;
  color: hsl(206, 6%, 79%);
}

.fa-angle-left {
  color: white;
}

.fa-ellipsis-v {
  zoom: 70%;
  color: white;
}

.logo {
  background: url("./../../assets/images/avatar.jpg") no-repeat;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  background-size: cover;
  border: 2px solid white;
}

.header__smartphone {
  display: flex;
  border-radius: 20px 20px 8px 8px;
  width: 100%;
  height: 70px;
  justify-content: start;
  background: linear-gradient(90deg, #8838ff 0%, #e942ff 87%);
  z-index: 1;
  position: relative;
}

.container__chat {
  display: flex;
  width: 100%;
}

.chat {
  display: flex;
  width: 100%;
}

.description__chat {
  padding: 7px;
  font-size: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  background: hsl(278, 62%, 90%);
  width: 123px;
  line-height: 1.2;
  color: hsl(276, 59%, 40%);
}

.container__photo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.photo {
  display: flex;
  height: 40px;
  width: 40px;
  margin: 0px 10px 8px 0px;
  border-radius: 8px;

  &:last-child {
    margin-right: initial;
  }
}

.--right {
  justify-content: flex-end;
}

.--white {
  background: white;
  box-shadow: 2px 4px 10px 1px rgb(0 0 0 / 20%);
  justify-content: flex-end;
  display: flex;
}

.--width {
  width: 75px;
}

.container__check {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.container__item {
  display: flex;
  width: 170px;
  height: 35px;
  background: linear-gradient(90deg, #e942ff 0%, #8838ff 87%);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  border-radius: 10px 10px 10px 5px;
}

.check {
  display: flex;
  width: 10px;
  margin-left: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

.description__check {
  font-size: 10px;
  color: hsl(277, 30%, 76%);
  width: 90px;
}

.money {
  color: white;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
}

.container__input {
  display: flex;
  width: 100%;
  justify-content: center;
  background: white;
  border-radius: 20px;
  align-items: center;
  margin-top: 3px;
}

input {
  border: 0;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 20px;
  font-size: 10px;
}

.fa-arrow-circle-right {
  display: flex;
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

.wrap__label {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  justify-content: center;
  align-items: initial;
  margin-left: 0px;
}

@media screen and (max-width: 1200px)
 {
  .violet {
    width: 56%;
    height: 60vh;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: 212px;
  }

  .title {
    font-size: 40px;
  }

  .shadow {
    width: 50%;
    height: 60vh;
  }

  .wrap__smartphone {
    position: absolute;
    height: 600px;
    justify-content: center;
  }

  .wrap__label {
    height: 85px;
    margin-left: initial;
    align-items: center;
  }

  .shadow {
    position: fixed;
  }

  .container__label {
    height: initial;
    margin-top: 700px;
  }

  .container__smartphone {
    height: 600px;
    position: absolute;
  }

  .smartphone {
    margin-left: initial;
  }

  .container__description {
    width: 75%;
  }
}

@media screen and (max-width: 599px) {
  .violet {
    width: 64%;
  }
}
