<div class="container__home">
  <div class="container__violet">
    <div class="violet"></div>
    <div class="container__smartphone">
      <div class="wrap__smartphone">
        <div class="smartphone">
          <div class="header__smartphone">
            <div class="border__smartphone">
            </div>
            <div class="container__header">
              <div class="container__items">
                <div class="arrow-left"><i class="fas fa-angle-left"></i></div>
                <div class="logo"></div>
                <div class="name">
                  <span style="color: white; font-size: 13px; font-weight: bold;">Samuel Green</span>
                  <div class="description__person">Available to Walk</div>
                </div>
                <div class="option"><i class="fas fa-ellipsis-v"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Title -->
      <div class="container__label">
        <div class="container__title"><span class="title">Simple booking</span></div>
        <div class="container__description"><span class="description"></span></div>
      </div>
    </div>
  </div>
</div>
